<div class="row pb-5">
  <div class="col-12 mt-5 px-4">
    <h1>Indice de temas</h1>
    <mat-chip-listbox>
      <mat-chip-option
        *ngFor="let category of categories"
        (selectionChange)="onChipClick($event)"
      >
        {{ category }}
      </mat-chip-option>
    </mat-chip-listbox>
  </div>

  <div class="col-12 px-4">
    <mat-form-field class="mt-3">
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        type="search"
        placeholder="Busque aquí por titulo"
        class="search-input"
        (input)="onSearchInput($event)"
      >
    </mat-form-field>
  </div>

  <!--<div class="col-sm-12 col-md-12 col-lg-4 p-3 px-4 animate__animated animate__fadeIn" *ngFor="let topic of filteredTopics">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{ topic.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ topic.description }}</p>
        <mat-chip-listbox>
          <mat-chip-option
            color="warn"
            *ngFor="let category of topic.categories"
            [disabled]="true"
          >
            {{ category }}
          </mat-chip-option>
        </mat-chip-listbox>
      </mat-card-content>
      <mat-card-actions>
        <button
          type="button"
          (click)="onCardClick(topic.url)"
          mat-button
          class="bg-success text-white card-button"
        >
          Ir a la publicación
        </button>
      </mat-card-actions>
    </mat-card>
  </div>-->

  <div class="col-sm-12 col-md-12 col-lg-4 p-3 px-4 animate__animated animate__fadeIn" *ngFor="let post of filteredPostList">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="title">{{post.title}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="card-img" [src]="post.images[0].url" alt="">
      <mat-card-content class="d-flex flex-grow-1 flex-column">
        <mat-chip-listbox class="mt-2">
          <mat-chip-option
            color="warn"
            *ngFor="let label of post.labels"
            [disabled]="true"
          >
            {{ label }}
          </mat-chip-option>
        </mat-chip-listbox>
        <p class="mt-auto fst-italic">
          Publicado: {{post.published | date}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button
          type="button"
          (click)="onCardClick(post.url)"
          mat-button
          class="bg-success text-white card-button"
        >
          Ir a la publicación
        </button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>
