<div class="row pb-5">
  <div class="col-12 mt-5">
    <mat-chip-listbox>
      <mat-chip-option
        *ngFor="let category of categories"
        (selectionChange)="onChipClick($event)"
      >
        {{ category }}
      </mat-chip-option>
    </mat-chip-listbox>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4 p-3" *ngFor="let topic of filteredTopics">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{ topic.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ topic.description }}</p>
        <mat-chip-listbox>
          <mat-chip-option
            color="warn"
            *ngFor="let category of topic.categories"
            [disabled]="true"
          >
            {{ category }}
          </mat-chip-option>
        </mat-chip-listbox>
      </mat-card-content>
      <mat-card-actions>
        <button
          type="button"
          (click)="onCardClick(topic.url)"
          mat-button
          class="bg-success text-white card-button"
        >
          Ir a la publicación
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
