.mat-mdc-form-field {
  width: 50%;
}


.mat-mdc-card {
  height: 100%;
  flex-grow: 1;

  .title {
    height: 200px;
  }

  .card-img {
    height: 250px;
    width: auto;
  }

  .mat-mdc-card-actions {
    margin-top: auto;
    .card-button {
      width: 100%;
    }
  }
}
