<div class="row bg-white">
  <div class="col-12">
    <h1 class="fs-1 text-center mt-5 ">Siguenos en nuestras redes sociales!</h1>

    <div class="row px-5 mt-5 pb-5">
      <div class="col pb-5 animate__animated animate__fadeIn" *ngFor="let item of socialMediaItems">
        <mat-card class="text-center d-flex justify-content-center rounded-2 mt-5">
          <mat-card-header class="justify-content-center">
            <mat-card-title class="fs-4">{{item.socialMediaName}}</mat-card-title>
          </mat-card-header>
          <fa-icon size="4x" [class]="item.style" [icon]="item.icon"></fa-icon>
          <mat-card-actions class="">
            <button mat-button class="card-button bg-success text-white" type="button" (click)="onSocialMedialClick(item.url)">Ir ahora!</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
