<div class="row bg-white">
  <div class="col-12">
    <div class="container">
      <h1 class="fs-1 mt-5">Videos</h1>
    </div>
  </div>

  <div class="col-12 mt-3 pb-5" *ngFor="let playlist of playlists;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="mt-3">Buscar</h2>
          <mat-form-field>
            <mat-icon matPrefix>search</mat-icon>
            <input
              matInput
              type="search"
              placeholder="Busque aquí por titulo"
              class="search-input"
              (input)="onSearchInput($event)"
            >
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 p-3 animate__animated animate__fadeIn" *ngFor="let video of playlist.items;">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>
                {{video.snippet.title}}
              </mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="video.snippet.thumbnails.standard.url" alt="">
            <mat-card-content class="py-2">
              <p>Canal: {{video.snippet.channelTitle}}</p>
              <span class="fst-italic">Fecha de publicación: {{video.snippet.publishedAt | date}}</span>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button class="bg-success text-white w-100" (click)="onButtonClick(video.contentDetails.videoId)">VER</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
